import init.common.rc
import init.sun8i.common.rc
import init.sun8i.usb.rc

on early-init
    mount debugfs debugfs /sys/kernel/debug/ mode=755
#    chown system system /sys/kernel/debug/kgsl/proc
on init
    # Set permissions for persist partition
    mkdir /persist 0771 system system
    mkdir /firmware 0771 system system   
   
   

    # Support legacy paths
    symlink /sdcard /mnt/sdcard
    symlink /sdcard /storage/sdcard0
    mkdir /oem 0550 system system

on early-fs
    insmod /nand.ko

    mount_all /fstab.sun8i

    swapon_all /fstab.sun8i
    restorecon_recursive /persist

    wait /dev/block/nandm
    mount vfat /dev/block/nandm /oem ro nosuid nodev utf8,context=u:object_r:oemfs:s0
    insmod /system/vendor/modules/disp.ko
    insmod /system/vendor/modules/lcd.ko

#secure storage 
    insmod /system/vendor/modules/te_sec_storage.ko
# gpu
    insmod /system/vendor/modules/mali.ko
# sw-keyboard
	insmod /system/vendor/modules/sunxi-keyboard.ko

	insmod /system/vendor/modules/sw-device.ko

  ### tp & sensors
    init_dev_detect

# csi module
	insmod /system/vendor/modules/videobuf-core.ko
	insmod /system/vendor/modules/videobuf-dma-contig.ko
	insmod /system/vendor/modules/cam_detect.ko
	insmod /system/vendor/modules/cci.ko
    insmod /system/vendor/modules/actuator.ko
	insmod /system/vendor/modules/vfe_os.ko
	insmod /system/vendor/modules/vfe_subdev.ko
	insmod /system/vendor/modules/gc0308.ko
	insmod /system/vendor/modules/gc2035.ko
	insmod /system/vendor/modules/gc0329.ko
	insmod /system/vendor/modules/sp0838.ko
	insmod /system/vendor/modules/ov5640.ko
	insmod /system/vendor/modules/gc0311.ko
	insmod /system/vendor/modules/siv121d.ko
	insmod /system/vendor/modules/sid130b.ko	
	insmod /system/vendor/modules/gc0328.ko	
	insmod /system/vendor/modules/sp2518.ko
	insmod /system/vendor/modules/hi253.ko
	insmod /system/vendor/modules/sp2519.ko
	insmod /system/vendor/modules/bf3920.ko
	insmod /system/vendor/modules/hm0357.ko
	insmod /system/vendor/modules/s5k4ec.ko	
	insmod /system/vendor/modules/bf3a03.ko
	insmod /system/vendor/modules/sp0a19.ko		
	insmod /system/vendor/modules/gc2145d.ko	
	insmod /system/vendor/modules/bf3703.ko
	insmod /system/vendor/modules/gc2145.ko
	insmod /system/vendor/modules/gc0312.ko
	insmod /system/vendor/modules/vfe_v4l2.ko

# network
#    insmod /system/vendor/modules/bcmdhd.ko
#    insmod /system/vendor/modules/bcm_btlpm.ko
    insmod /system/vendor/modules/usbnet.ko
    insmod /system/vendor/modules/asix.ko
    insmod /system/vendor/modules/qf9700.ko
    insmod /system/vendor/modules/mcs7830.ko
    insmod /system/vendor/modules/rtl8150.ko
    insmod /system/vendor/modules/cdc_ether.ko
    insmod /system/vendor/modules/rtl_bluesleep.ko

# GPS
#    chmod 777 /system/bin/glgps
#    chown root system /system/bin/glgps
#    chmod 777 /system/lib/hw/gps.default.so
#    chown root system /system/lib/hw/gps.default.so
#    mkdir /data/gps
#    chmod 770 /data/gps
#    chown system net_bt_stack /data/gps

# to observe dnsmasq.leases file for dhcp information of soft ap.
    chown dhcp system /data/misc/dhcp

    



on post-fs-data
    mkdir /data/media 0770 media_rw media_rw
    mkdir /data/secure_store 0777 root system
    # Set indication (checked by vold) that we have finished this action
    setprop vold.post_fs_data_done 1
    # to force to start sdcard
  #  class_start late_start


# bluetooth
    # UART device
    chmod 0660 /dev/ttyS1
    chown bluetooth net_bt_stack /dev/ttyS1

    # power up/down interface
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chmod 0660 /sys/class/rfkill/rfkill0/type
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/state
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/type

    # bluetooth MAC address programming
    chown bluetooth net_bt_stack ro.bt.bdaddr_path
    chown bluetooth net_bt_stack /system/etc/bluetooth
    chown bluetooth net_bt_stack /data/misc/bluetooth
    setprop ro.bt.bdaddr_path "/data/misc/bluetooth/bdaddr"

    # bluetooth LPM
    chmod 0220 /proc/bluetooth/sleep/lpm
    chmod 0220 /proc/bluetooth/sleep/btwrite
    chown bluetooth net_bt_stack /proc/bluetooth/sleep/lpm
    chown bluetooth net_bt_stack /proc/bluetooth/sleep/btwrite
#    write /proc/bluetooth/sleep/lpm 1

	# This module write data to /data should insmod in post-fs-data
	# due to encryption



on boot
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor

    chown system system /sys/kernel/autohotplug/enable
    chmod 0660 /sys/kernel/autohotplug/enable

    chown system system /sys/devices/system/cpu/cpu0/cpufreq/boot_lock
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/boot_lock

    chown system system /sys/devices/platform/sunxi-budget-cooling/roomage
    chmod 0660 /sys/devices/platform/sunxi-budget-cooling/roomage

    chown system system /sys/class/devfreq/sunxi-ddrfreq/dsm/scene
    chmod 0660 /sys/class/devfreq/sunxi-ddrfreq/dsm/scene


on charger
    insmod disp.ko
    insmod lcd.ko
    class_start charger
    write /sys/module/printk/parameters/console_suspend N
    write /proc/sys/kernel/printk 0

on fs
    # UDISK would be mounted as data partition when multiple user enabled.
    #format_userdata /dev/block/nandn ASTAR

#service sensors /sbin/busybox sh /system/bin/sensors.sh
 #   user root
 #   group root
  #  disabled
   # oneshot

#on property:sys.sensors=1
#    start sensors



# 1. realtek & eagle wifi service
# 1.1 realtek & eagle wifi sta service
service wpa_supplicant /system/bin/wpa_supplicant \
    -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf \
    -I/system/etc/wifi/wpa_supplicant_overlay.conf \
    -O/data/misc/wifi/sockets \
    -e/data/misc/wifi/entropy.bin -g@android:wpa_wlan0
    #   we will start as root and wpa_supplicant will switch to user wifi
    #   after setting up the capabilities required for WEXT
    #   user wifi
    #   group wifi inet keystore
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

# 1.2 realtek & eagle wifi sta p2p concurrent service
service p2p_supplicant /system/bin/wpa_supplicant \
	-ip2p0 -Dnl80211 -c/data/misc/wifi/p2p_supplicant.conf \
	-I/system/etc/wifi/wpa_supplicant_overlay.conf \
	-e/data/misc/wifi/entropy.bin -N \
	-iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf \
	-O/data/misc/wifi/sockets \
	-g@android:wpa_wlan0
	class main
	socket wpa_wlan0 dgram 660 wifi wifi
	disabled
	oneshot

# GPS Service
#service gpsd  /system/bin/glgps -c /system/etc/gps/gpsconfig.xml
#    class main
#    user root
#    group system
